div(ng-include='"components/shell/shell.html"')

md-content.md-padding(flex layout-xs="column" layout-sm="column")
  md-card.settings-card
    md-card-content
      h2.md-title Challonge Info
      form(name='infoform', ng-submit='changeInfo()', novalidate='')
        md-input-container
          label Current Password
          input(required='', type='password', name='pass', ng-model='user.pass')
          div(ng-messages='infoform.pass.$error')
            div(ng-message='required') This is required.
        md-input-container
          label Api Key
          input(required='', type='text', name='api_key', ng-model='user.api_key')
          div(ng-messages='form.api_key.$error')
            div(ng-message='required') This is required.
        md-input-container
          label Subdomain
          input(type='text', name='subdomain', ng-model='user.subdomain')

        h4 {{infomessage}}

        div(layout="row" layout-align="center center")
          md-button.md-primary.md-raised(type='submit') Save

  md-card.login-card
    md-card-content
      h2.md-title Update Password
      form(name='passform', ng-submit='changePassword()', novalidate='')
        md-input-container
          label Current Password
          input(required='', type='password', name='oldPassword', ng-model='user.oldPassword')
          div(ng-messages='passform.oldPassword.$error')
            div(ng-message='required') This is required.
        md-input-container
          label New Password
          input(required='', type='password', name='newPassword', ng-model='user.newPassword')
          div(ng-messages='passform.newPassword.$error')
            div(ng-message='required') This is required.

        h4 {{passmessage}}

        div(layout="row" layout-align="center center")
          md-button.md-primary.md-raised(type='submit') Save