#matches-table {
  vertical-align: center;

  tbody>tr:hover {
    cursor: pointer;
  }

  tbody>tr>td,
  tbody>tr>th {
    vertical-align: middle;
  }
}
/*#matches-table tbody>tr>td>.player:hover {
  color: #c0392b;
  font-weight: bold;
}*/

  
/*#matches-table thead {
  background-color: $primary-color;
  color: #fff;
}

#matches-table th {
  font-weight: 300;
  font-size: 20px;
  padding: 10px;
}

#matches-table .station {
  width: 100%;
}

#matches-table tbody tr {
  border-bottom: 1px solid #bdc3c7;
  margin: 5px;
}

#matches-table tbody td {
  margin: 5px;
  padding-left: 8px;
  padding-right: 8px;
}
#matches-table .in-progress td {
  background-color: $primary-color;
  color: #fff;
}

#matches-table .pending td{
  background-color: #ecf0f1;
}

#matches-table .open td{
  background-color: #94c6e7;
}

#matches-table .complete td {
  background-color: #ecf0f1;
}
*/