div(ng-controller='ShellCtrl').main-shell
  .alert(ng-show='shouldShowAlert()')
    .alert__text ALERT: sorry, y'all. I've had to turn off the stations because the Challonge API no longer supports this. I'd have to code that up from scratch. I've been thinking about just archiving this project. If you still use this and want to keep using it, can u reach out and let me know? I don't want to discontinue it if it's still being used regularly. If it's still in use, I don't mind doing the updates it needs. Pls reach out by email found in the about section.
    a.alert__close(ng-click='closeAlert($event)')
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>

  md-toolbar
    .md-toolbar-tools

      md-button( ui-sref='main')
        span runbrackets.com

      md-button( ng-click='changeTheme()' aria-label="Change Theme")
        span(ng-if="theme === 'night'") Night Mode
        span(ng-if="theme === 'light'") Light Mode

      span(flex='')

      md-button(hide-sm hide-xs ui-sref='about')
        span About

      md-button(hide-sm hide-xs ng-show='!isLoggedIn()' ui-sref='login')
        span Login

      md-button(hide-sm hide-xs ng-show='!isLoggedIn()' ui-sref='signup')
        span Register

      md-button(hide-sm hide-xs ng-show='isLoggedIn()' ui-sref='account')
        span Account

      md-button(hide-sm hide-xs ng-show='isLoggedIn()' ng-click='logout()')
        span Logout

      md-menu(hide-gt-sm)
        md-button.md-icon-button(ng-click='openMenu($mdOpenMenu, $event)')
          md-icon(md-menu-origin='', md-svg-icon='navigation:menu')
        md-menu-content(width='3')
          md-menu-item
            md-button(ui-sref="about")
              span About
          md-menu-item(ng-show='!isLoggedIn()')
            md-button(ui-sref="login")
              span Login
          md-menu-item(ng-show='!isLoggedIn()')
            md-button(ui-sref="signup")
              span Register
          md-menu-item(ng-show='isLoggedIn()')
            md-button(ui-sref="account")
              span Account
          md-menu-item(ng-show='isLoggedIn()')
            md-button( ng-click='logout()')
              span Logout

md-progress-linear(md-mode="indeterminate" ng-if="is_loading")
