<div class="container">

  <h1>Challonge TO</h1>

  <p>Challonge TO is a web app helping TOs have an easier time running brackets, inspired by <a class="bold" href="http://smashboards.com/threads/challonge-match-display-application-helping-tournaments-run-faster.358186/">Challonge Match Display</a>.</p>

  <p>We're still in beta, but are rolling out features as quickly as possible.</p>

  <p>If you have any questions, comments, or feature requests, please head on over to our <a href="#contact">contact</a> page.

  <h2>Technical Details</h2>

  <p>We're open source, and the code can be found <a class="bold" href="https://github.com/novacourtois/challongeTO">here</a>.</p>

  <p><span class="bold">Front-end:</span> Angular, Bootstrap, hooked up to the Challonge API.</p>
  <p><span class="bold">Back-end:</span> Node, hosted on Heroku.</p>

  <p>
    We're still not complete. Wanna help?</br>
    Reach out to the main developer, <a class="bold" href="https://twitter.com/novacourtois">@novacourtois</a> or head to the <a class="bold" href="#/contact/">contact</a> page and shoot us a message.
  </p>
</div>