.login-card, .register-card, .settings-card {
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 30px;

  md-input-container {
  	width: 100%;
  }
}

.love-message {
  margin-top: 64px;
  text-align: center;
}
//
// 