<div class="row">

</div>

<div class="row">
	<h1>Matches</h1>

	<table class="table table-bordered matches">
		<thead>
			<tr>
				<th>Round</th>
				<th>Code</th>
				<th>Player 1</th>
				<th>Player 2</th>
				<th>Station</th>
				<th>Timer</th>
			</tr>
		</thead>

		<tbody>
			<tr ng-repeat ="m in matches" ng-hide="m.match.state=='complete'" ng-init="m.selectedStation='-';" ng-class="{ 'in_progress': m.match.state=='in_progress', 'open': m.match.state=='open', 'pending': m.match.state=='pending' }">
				<td>{{m.match.round}}</td>
				<td>{{m.match.identifier}}</td>
				<td>{{ participants[ m.match.player1_id ].name || "?" }}</td>
				<td>{{ participants[ m.match.player2_id ].name || "?" }}</td>
				<td ng-model="m.selectedStaton">
					{{m.selectedStation}}
				</td>
				<td>time</td>
			</tr>
		</tbody>
	</table>


	<div class="col-sm-12" >

	</div>

</div>