/**
 * App-wide Styles
 */

@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,700");

$oswald: "Oswald";
$dark: #252723;
$superlight: #ecf0f1;
$light: #bdc3c7;
$primary: #19b5fe;
$accent: #ff1744;


$green: #C8F7C5;
$green-dark: darken($green, 7%);

$blue: #89C4F4;
$blue-dark: darken($blue, 7%);


 .main-shell {
   .profile-container {
     height: 100%;
     font-size: 14px;

     .profile-name {
       font-weight: 500;
     }
   }
 }

html, body {
	width: 100%;
	height: 100%;
}

body {
	font-family: $oswald;
  font-weight: 100;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}
h1 {
  font-size: 2.4em;
}
// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'bracket/bracket.scss';
@import 'main/main.scss';
@import 'scss/tables.scss';
// endinjector
