.table {
  width: 100%;
  border-spacing: 0px;
  
  .st-sort-ascent {
    &:before {
      margin-right: 5px;
      content: '\25B2';
    }
  }
    
  
  .st-sort-descent:before {
    margin-right: 5px;
    content: '\25BC';
  }
    
  
  thead {
    padding-bottom: 10px;
    border-bottom: 4px solid #666;
    tr {
      word-break: break-word;
      // th
      //   padding-top: 10px
      //   height: 100%
      // th[st-sort]
      //   cursor: pointer
    }

    tr.header {
      padding: 10px 0;
      height: 40px;
      font-weight: bold;
      text-transform: uppercase;
      text-align: left;
      color: $dark;
    }

  }
    
  tbody {
    cursor: pointer;
    width: 100%;
    tr {
      color: #666;

      &:hover {
        background-color: $superlight;
        color: $dark;
      }
      td {
        padding: 12px;

      }
      
    }
  }
}

#bracketView {
 
  md-select.station {
    margin: 0px;
  }

  .line td {
    border-bottom: 1px solid $light;
  }
  .complete {
    background: $green;

    &:hover {
      background: $green-dark;
    }
  }

  .ongoing {
    background: $blue;
    &:hover {
      background: $blue-dark;
    }
  }

  .pending {
    background: $superlight;
    &:hover {
      background: darken($superlight, 10%);
    }
  }

  .notready {
    cursor: not-allowed;
    
    &:hover{
      color: rgba(255,212,220,0.87);
    }
  }

}

#bracketView.md-night-theme {

  .header {
    color: #fff;
  }

  .complete {
    background: $green-dark;

    &:hover {
      background: $green;
    }
  }

  .ongoing {
    background: $blue-dark;
    &:hover {
      background: $blue;
    }
  }

  .pending {
    background: darken($superlight, 10%);
    &:hover {
      background: $superlight;
    }
  }

  .notready {
    cursor: not-allowed;
    
    &:hover{
      background: rgba(255,212,220,0.87);
    }
  }

}

