div(ng-include='"components/shell/shell.html"')

md-content.md-padding(layout="column" flex layout-align="start center" ng-if="isLoggedIn()")
  h1 Choose Tournament

  md-checkbox(ng-if="currentUser.subdomain" ng-model="use.subdomain" ng-change="getTournaments()" aria-label="Use Subdomain") Use {{currentUser.subdomain}}?
  md-input-container
    label Filter
    md-select( ng-model="tournamentFilter" ng-init="tournamentFilter = 'in_progress'" ng-change="getTournaments()")
      md-option(value="pending") Pending
      md-option(value="completed") Completed
      
      md-option(value="in_progress") In Progress
      md-option(value="all") All

  md-list#tournaments(ng-if="!is_loading && tournaments.length" ng-cloak)
    md-list-item.tournament(ng-repeat="tournament in tournaments | orderBy : '-tournament.created_at'" ui-sref="bracket({ url: tournament.tournament.temp_url, subdomain: tournament.tournament.temp_subdomain})")
      .md-list-item-text
        h3
          span(ng-if="currentUser.subdomain && use.subdomain") {{ currentUser.subdomain }} / 
          | {{tournament.tournament.name}}

      span(flex='')
      md-button.md-accent
        a(ng-href="{{tournament.tournament.full_challonge_url}}" target="_blank") Link
      md-divider(ng-if="!$last")

  h3(ng-if="!is_loading && tournaments.length == 0" ng-cloak) No tournaments!

md-content.md-padding(flex ng-if="!isLoggedIn()" layout="column" layout-align="start center")
  h1 Tournaments should run smoothly!

  h2 Participant? Enter Challonge URL
  md-input-container
    label Challonge URL
    input(ng-model="participant_url" type="text")
  md-button.md-raised.md-primary(ng-click="parse_url(participant_url)") Let's Go!

