div(ng-include='"components/shell/shell.html"')

md-content.md-padding#aboutView(flex layout-align="center center")
  #content 
    h1 About

    p runbrackets.com was created to make tournaments using Challonge better.
    p Built and approved by 
      a(href="https://www.facebook.com/groups/Austin.Melee/") Austin Melee 
      |, hopefully some other scenes get some good use out of it.

    h1 Contact

    p We'd love to hear about any questions, comments, concerns, bugs, feature requests, or just about anything.
    p If you're reading this, please feel free to reach out. 

    ul
      li - Twitter: 
        a(href="https://twitter.com/novacourtois") novacourtois
      li - GitHub: 
        a(href="https://twitter.com/novacourtois/runbrackets") novacourtois
      li - SmashBoards: 
        a(href="https://smashboards.com/threads/runbrackets-com-a-web-app-for-tos-and-participants.440519/") link
      li - Email: 
        a(href="mailto:novacourtois@gmail.com") novacourtois@gmail.com

    h1 Details

    p Accounts are really only useful for tournament organizers. This will let you sign in and run tournaments from any device - including mobile.

    p Running tournaments using runbrackets.com give you a bunch of much-needed features.

    p The station manager perfectly keeps track of which stations are available, so you don't have to. Your participants can even view what station their match is on from their phone. 

    p The bracket system makes your life calling and reporting matches a breeze.

    h1 Tech

    p runbrackets.com will always be free and open source. Check out the code on 
      a(href="https://www.github.com/novacourtois/runbrackets") GitHub
      |.

    p It's built using Angular Material, Node.js, MongoDB, SASS, Jade, Grunt, and Heroku.

    h1 Donate

    p Just because runbrackets.com is free does not mean there's no costs associated with it.
    p Development costs, hosting, data storing, and testing takes time and money. We'll never demand any money or display ads, but please contribute if you can by:

    ul
      li - Buying Nova a beer the next time you see them.
      li - Stay tuned for more apps. 
      li - Spreading the word around.